<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dct.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1675A521BD14B1F00085958</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DD55221BCFE6AA008451DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1DD553D1BCFF499008451DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
